.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-inverse {
  background-image: none;
  background-color: #ffb310;
} 

.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-weight: 200;
    margin-top: 0;
    background-color: #ffb310;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffb310;
   
}

.jumbotron {
  margin-top: 30px;
  background-color: transparent;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
}

.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ffffff;
}

.navbar-toggle {
  position: absolute;
}

.navbar-inverse .navbar-brand {
  color: #000000;
  background-color: #ffb310;
  text-shadow: 1x 1px #d3d3d3;
}

.navbar-custom {
  background-color: #ffb310;
  border-color: #ffb310;
}

.navbar {
    border: none;
} 

.row {
 margin-left: 0;   
 margin-right: 5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ffffff;
}

.container > .navbar-header, .container-fluid > .navbar-header {
    opacity: 0.9;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 15px;
  height: 2px;
  border-radius: 1px;
}

.navbar .nav > li > a {
 background-color: #ffb310;   
}

.navbar .nav > li > a {
 background-color: none;   
}


.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #ffffff;
  }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #000000;
}