<section data-ng-controller="HomeController">
   <h3></h3>
    <!-- <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="wpc logo" class="img-responsive text-center" src="modules/core/img/brand/wpclogo.png" />
            </div>
        </div>

        <br>
        <div class="row">
            <p class="lead">
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg btn-warning" href="https://my.wpcarey.asu.edu/undergrad/bcc/bcc-overview.cfm" target="_blank">visit career center</a>
            </p>
        </div>
    </div> -->
    <div class="well">
        <h2 class="text-center">Career Fair Prep</h2>
        <img src="modules/core/img/brand/AddToCal.png" />
        <p class="text-right"><em>Thursday, September 17, 2015<br>5:00pm, WPC School of Business</em></p>
        <p class="text-right">Be prepared for the career fair! Come learn how to dress professionally, get tips for rocking resume, and practice your elevator speech.</p>
    </div>
    <div class="well">
        <h2 class="text-center">22 Entrepreneurs Share the Advice That Made Them Successful</h2>
        <img src="modules/core/img/brand/entrepreneurs.png" />
        <p class="text-right"><em>Written by Bob Smith</em></p>
        <p class="text-right">22 influential executives and entrepreneurs share the key to their success.</p>
    </div>
    <div class="well">
        <h2 class="text-center">Software Developer</h2>
        <img src="modules/core/img/brand/nowhiring.png" />
        <p class="text-right"><em>Technology Company<br> Tempe, Aizona</em></p>
        <p class="text-right">We are a technology company always looking for new and innovative opportunities. We have a fast-paced environment and are looking for a technical person who can adapt to many different situations.</p>
    </div>
    <div class="well">
        <h2 class="text-center">Resume Tips</h2>
        <img src="modules/core/img/brand/resume.png" />
        <p class="text-right"><em>written by the Business Career Center</em></p>
        <p class="text-right">Here are some resume tips that can help you score your next job or internship.</p>
    </div>
    <br>
    <p class="text-center">&copy; MEAN.machine</p>
</section>
